#animationList
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#animationList div{
    width: 30%;
    height: 560px;
    background-color: aqua;
    margin-top: 60px;
}
.imageAnimation{
    width: 250px;
}
